<div class="bg-customBG w-full h-screen bg-cover ">
  <div class="py-4">
    <app-search-bar
      (onSelectedCity)="receiveSelectedCity($event)"
      (searchButtonClick)="onButtonClicked()">
    </app-search-bar>
  </div>
  <div *ngIf="cityName;">
    <app-city-title cityName="Athens"></app-city-title>
  </div>
  <div *ngIf="!cityName">
    <app-alert-box alertMessage="Please search for a city" alertTitle="Warning"></app-alert-box>
  </div>
  <div *ngIf="cityName">
    <app-weather-card [weatherData]="weatherData"></app-weather-card>
  </div>
</div>

