<div class="bg-customBG bg-cover w-full min-h-screen p-2 ">
  <div class="flex flex-row">
    <div *ngIf="isSavedCitiesBlockOpen" class="w-[20%] h-screen bg-black/40 rounded">
      <app-saved-cities-card></app-saved-cities-card>
    </div>
    <div class="w-full relative">
      <div class="py-4">
        <button (click)="savedCitiesButtonHandler()" class="absolute ml-1 bg-purple-700 rounded shadow-md- p-2">
          <fa-icon [icon]="faBookmark"></fa-icon>
        </button>
        <app-search-bar
          (onSelectedCity)="receiveSelectedCity($event)"
          (searchButtonClick)="onButtonClicked()">
        </app-search-bar>
      </div>
      <div *ngIf="cityName && errorCode === 0 && !isLoading">
        <div>
          <app-city-title cityName="{{cityName}}"></app-city-title>
        </div>
        <div>
          <app-weather-card [weatherData]="weatherData"></app-weather-card>
        </div>
      </div>
      <ng-template [ngIf]="isLoading">
        <div class="flex justify-center items-center mt-8">
          <mat-spinner diameter="50"></mat-spinner>
        </div>
      </ng-template>
      <div *ngIf="!cityName || errorCode !== 0">
        <app-alert-box [cityName]="cityName" [errorCode]="errorCode"></app-alert-box>
      </div>
    </div>
  </div>
</div>

